body {
 margin: 0;
}

.navigation {
 margin-top: 20px;
 font-family: sans-serif;
 font-size: .8rem;
 letter-spacing: .1em;
 text-transform: uppercase;
 font-weight: lighter;
 box-sizing: border-box;
 display: flex;
}

.navigation a {
 text-decoration: none;
 color: black;
 padding: 5px 20px;
}

.navigation:hover a {
 opacity: .6;
}

.navigation a:hover {
 opacity: 1;
 font-weight: 1000;
}

.group:before,
.group:after {
 content: "";
 display: table;
}

.group:after {
 clear: both;
}

.picture {
 max-width: 100%;
 height: auto;
 position: relative;
}

/*gallery caption and transitions*/
.header {
 text-align: center;
}

.banner-description {
 position: absolute;
 bottom: 0px;
 color: white;
 background: black;
 width: 100%;
 max-width: 100%;
 font-size: 20px;
 height: auto;
 text-align: left center;
 transform: translateY(100%);
 transition: all 1s;
 justify-content: center;
 display: flex;
}

.image-banner {
 position: relative;
 overflow: hidden;
 display: flex;
 justify-content: center;
 max-width: 100%;
 display: flex;
 align-items: flex-start;
 height: auto;
}

.image-banner:hover .banner-description{
 transform: translateY(0);
}

@media screen and (max-width: 480px) {
 .navigation {
  margin-top: 1%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
 }
 
 .navigation a {
  padding: 1% 2%;
 }

 .banner-description {
  position: absolute;
  max-width: 100%;
  font-size: 16px;
  height: auto;
  text-align: left center;
  transform: translateY(45%);
  transition: all 1s;
  justify-content: center;
 }
 
 .image-banner {
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: flex-start;
  max-width: 100%;
 }
}